# True for development, False for production
DEBUG=True

# Deployment SERVER address
SERVER=5085-purple-water-00859558.eu-ws2.runcode.io
SERVER_REPLICA=5085-purple-water-00859558.eu-ws3.runcode.io

# Used for CDN (in production). No Slash at the end
ASSETS_ROOT=/static/assets

# For Postgres Persistence
DB_ENGINE=postgresql
DB_USERNAME=root
DB_PASS=root
DB_HOST=postgres_db

POSTGRES_DB=postgres_db
POSTGRES_USER=root
POSTGRES_PASSWORD=root



# If present, the SignIN exposes the Github Login Button
# GITHUB_ID=<YOUR_GITHUB_ID>
# GITHUB_SECRET=<YOUR_GITHUB_SECRET>